
#nav {
	width: 100%;
	height: 55px;
	background-color: transparent;
	position: absolute;
	top: 8px;
	
}

.contact {
	/*border: 1px solid black;*/
	height: 500px;
	margin-top: 40px;
	margin-left: 20px;
	/*background-color: yellow;*/
}


.left {
	float: left;
}
.right {
	float: right;
}

.nav-c {
	color: white;
	width: 35%;
	display: inline-block;
	margin: 15px;
}

.nav-butt {
	margin : 12px;
}




input {
	height: 30px;
	width: 100%;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-left: 15px;

}

.contact-form{
	height: 480px;
	padding-top: 20px;
	padding-left: 0px;
	width: 500px;
	/*border: 1px solid grey;*/
	 box-shadow: 0 4px 8px 0 #c4bcbc
} 

.contact-form form {
	margin-left: 45px;
}

.map {
		/*background-color: green;*/
	margin-left: 22px;
/*	width: 50%*/
	/*height: 100%;*/
	/*border: 4px solid green;*/
	width:50%;
	height:500px; 
	padding-top: 0px;
}

button {
	width: 88%;
	height: 40px;
	color: white;
	background-color: indigo;
	font-size: 18px;
	font-weight: 700;
	
}



#home {
	height: 450px;
	background-position: center;
    /*background-image: url("home1.jpg");*/

}

#home img{
	height: 100%;
	width: 100%;
}